---
import Navigation from '@components/Navigation.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>wagagaha</title>
	</head>
	<body class="bg-black text-white">
		<header class="w-full h-16">
			<Navigation />
		</header>
		<div class="h-96 flex justify-center text-4xl tracking-[2em] items-center">
			WIP
		</div>
	</body>
</html>
