---
import HomeLayout from '@layouts/HomeLayout.astro'
---

<HomeLayout title="Welcome to wagagaha's personal blog">
	<div class="h-96 flex justify-center text-4xl tracking-[2em] items-center">
		WIP
	</div>
</HomeLayout>
