---
import { languages } from "@i18n/ui";
---

<div
  class="flex outline items-center justify-center p-0.5 rounded-2xl text-white"
>
  {
    Object.entries(languages).map(([lang, label]) => (
      <span class="first:bg-[#eb4c38] px-2 first:rounded-l-xl last:rounded-r-xl">
        {label}
      </span>
    ))
  }
</div>
