---
import { languages } from "@i18n/ui";
---

<div class="outline px-2 items-center justify-center gap-4">
  {
    Object.entries(languages).map(([lang, label]) => (
      <span class="">{label}</span>
    ))
  }
</div>
