---
---
<div class="flex w-full h-full items-center justify-between px-12 font-thin">
  <div>wagagaha</div>
  <div class="flex flex-auto max-sm:hidden gap-8 justify-center tracking-[.4em] indent-[.4em]">
    <a href="#"class="">首页</a>
    <a href="#"class="">博客</a>
    <a href="#"class="">简介</a>
  </div>
  <div>find me</div>
</div>
