---
import { Icon } from 'astro-icon'

---
<div class="absolute bottom-0 w-full px-12 sm:hidden">
  <div class="flex items-center justify-between py-6">
  <Icon pack="iconoir" name="notes" class="w-6 h-6" />
  <Icon pack="iconoir" name="home-simple-door" class="w-6 h-6" />
  <Icon pack="iconoir" name="box" class="w-6 h-6" />
</div>
</div>
