---
import BaseLayout from "@layouts/Base.astro";
import BlogPostCard from "@components/blog/PostCard.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@i18n/utils";

const pageTitle = "博客";
const allPosts = await getCollection("posts");
---

<BaseLayout>
  <div class="flex flex-col h-full">
    <div class="flex-auto grid grid-cols-3 w-full gap-8">
      {
        allPosts.map((post) => (
          <div class="bg-white rounded h-64 p-4">
            <BlogPostCard url={`/posts/${post.slug}`} title={post.data.title} />
          </div>
        ))
      }
    </div>
    <div class="flex-none">翻页</div>
  </div>
</BaseLayout>
