---
import BaseLayout from "@layouts/Base.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl } from "@i18n/utils";
import BlogPostCard from "@components/PostCard.astro";

const lang = getLangFromUrl(Astro.url) as string;

const allPosts = await getCollection(
  "posts",
  (entry) => entry.data.lang === lang
);
---

<BaseLayout>
  <div class="flex flex-col h-full">
    <div class="flex-auto grid grid-cols-3 w-full gap-8">
      {
        allPosts.map((post) => (
          <BlogPostCard
            title={post.data.title}
            url={`/${lang}/post/${post.slug}`}
            image={post.data.image}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
