---
import Nav from "@components/Nav.astro";
import { pwaInfo } from "virtual:pwa-info";
import { getLangFromUrl } from "@i18n/utils";
import LanguagePicker from "@components/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url) as string;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/pwa-192x192.png" />
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>wagagaha</title>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
  </head>
  <body class="bg-[#dedede] flex flex-col min-h-screen border-gray-300">
    <header class="flex-none border-inherit border-b">
      <div
        class="max-w-6xl mx-auto border-x border-inherit px-12 max-sm:px-6 py-4"
      >
        <Nav />
      </div>
    </header>
    <main
      class="flex-auto mx-auto max-w-6xl border-x border-inherit w-full p-8"
    >
      <slot />
    </main>
    <footer class="flex-none border-t border-inherit">
      <div
        class="flex mx-auto max-w-6xl border-x border-inherit px-12 max-sm:px-6 py-8"
      >
        <div class="flex-auto"></div>
        <div>
          <LanguagePicker />
        </div>
      </div>
    </footer>
  </body>
</html>

<!-- <style>
  * {
    font-family: "Josefin Sans", sans-serif;
  } -->
