---
import Navigation from '@components/Navigation.astro'
import { pwaInfo } from 'virtual:pwa-info';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content={title}>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/pwa-192x192.png">
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF">
		<meta name="generator" content={Astro.generator} />
		<title>wagagaha</title>
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    <script src="/src/pwa.ts"></script>
	</head>
	<body class="bg-black text-white">
		<header class="w-full h-16 border-b">
			<Navigation />
		</header>
    <main>
      <slot />
    </main>
		<div class="h-96 flex justify-center text-4xl tracking-[2em] items-center">
			WIP
		</div>
	</body>
</html>
